@import url('https://fonts.googleapis.com/css2?family=Bad+Script&family=Kalam&display=swap');

body{
    font-family: 'Bad Script', sans-serif;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

body header{
    font-family: 'Kalam', sans-serif;
}

header{
    background-color: aliceblue;
}

header a{
    text-decoration: none;
}

h1 {
    display: flex;
    justify-content: center;
}

main{
    background-color: tomato;
    /*make main element take up any surplus space to push footer down*/
        flex: 1 0 auto;
}

footer{
    background-color: blueviolet;
}