@import url('https://fonts.googleapis.com/css2?family=Bad+Script&family=Kalam&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/*general styling*/
body {
    font-family: 'Bad Script', sans-serif;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    color: antiquewhite;
}

/*Header*/
header {
    background-color: aliceblue;
    width: 100%;
    font-family: 'Kalam', sans-serif;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    position: fixed;
}

header a {
    text-decoration: none;
}

h1 {
    display: flex;
    justify-content: center;
    font-size: large;
}

.menu {
    font-size: larger;
}

.menu li {
    margin-top: 1em;
    list-style-type: none;
}

/*put same color as text*/
.active {
    border-bottom: 1px solid;
}

/*Navbar styles with dropdown toggle*/
nav {
    position: absolute;
    background-color: aliceblue;
    width: 100%;
    left: 0;
    padding: 0 1rem;
    box-shadow: 0 2px 2px #3a3a3a;
    display: none;
    top: 100%;
    justify-content: flex-start;
}

/*nav-toggle*/
#nav-toggle:checked~nav {
    display: block;
}

#nav-toggle {
    display: none;
}

.nav-toggle-label {
    font-size: 2rem;
    color: #3a3a3a;
}

/*Main Content*/
main {
    background-color: #e65c00;
    /*make main element take up any surplus space to push footer down*/
    flex: 1 0 auto;
    margin-top: 47px;
    position: relative;
}

/*Images on main page*/
img{
    width: 230px;
    height: 150px;
    padding: 5px;
    margin-top: 20px;
    margin-bottom: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/*Paragraphs*/
.front-page{
    background-color: rgba(18, 16, 16, .7);
    bottom: 30px;
    width: 250px;
    min-height: 200px;
    padding-top: 15px;
    padding-left: 10px;
    border-style: solid;
}

#main-section div{

}

#intro{
   margin-bottom: 10px;

}

/*Sign Up page*/
#text-area{
font-size: smaller;
}

/*Drinks page*/
.flip-card{
    background-color: transparent;
    width: 250px;
    height: 350px;
    perspective: 1000px;
    position: inherit;
    top: 5px;
    bottom: 5px;
}

.flip-card-front>img {
    width: 250px;
    height: 350px;
    position: absolute;
    margin-top: 0%;
    
}

ul li{
    text-transform: capitalize;
}

.flip-card1{

}

.flip-card2{

}

.flip-card3{

}

.flip-card4{

}

.flip-card5{

}

.flip-card6{

}

.flip-card-inner {
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.6s;
    transform-style: preserve-3d;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    position: relative;
}

.flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
}

.flip-card-front,
.flip-card-back {
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    position: absolute;
    top: 0px;
}

.flip-card-front {
    background-color: rgba(18, 16, 16, .7);
    color: black;
}

.flip-card-back {
    background-color: rgba(18, 16, 16, .7);
    color: white;
    transform: rotateY(180deg);
    word-wrap: normal;
}

.flip-card-back>h2, .flip-card-back h3, .flip-card-back li, .flip-card-back p{
    font-size: smaller;
}

.flip-card-back>h2{
    text-decoration: underline;
}

.flip-card-back li{
    list-style-type: none;
}

.column1{
    display: inline-block;
}

.column2{
    display: inline-block;
}

/*Footer*/
footer {
    background-color: rgba(249, 251, 249, .4);
    color: #3a3a3a;
}
/*Media query*/
@media screen and (min-width: 768px) {
    /*Header*/
    nav{
        display: block;
        position: relative;
        box-shadow: none;
        width: fit-content;
        padding-right: 1rem;
    }

    .menu{
        display: flex;
    }

    .menu > li{
        padding-left: 1rem;
    }

    .nav-toggle-label{
        display: none;
    }

    h1{
        font-size: 200%;
        letter-spacing: 2px;
    }

    img{
        width: 300px;
        height: 200px;
    }

    #first-div{
        
    }

    #second-div{
        
    }

    .flip-card{
        display: inline-block;
    }
}

@media screen and (min-width: 992px) {

}