@import url('https://fonts.googleapis.com/css2?family=Bad+Script&family=Kalam&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/*general styling*/
body {
    font-family: 'Bad Script', sans-serif;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

/*Header*/
header {
    background-color: aliceblue;
    width: 100%;
    font-family: 'Kalam', sans-serif;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    position: fixed;
}

header a {
    text-decoration: none;
}

h1 {
    display: flex;
    justify-content: center;
    font-size: 200%;
    letter-spacing: 2px;
}

.menu {
    font-size: larger;
}

.menu li {
    margin-top: 1em;
}

/*put same color as text*/
.active {
    border-bottom: 1px solid;
}

/*Navbar styles with dropdown toggle*/
nav {
    position: absolute;
    background-color: aliceblue;
    width: 100%;
    left: 0;
    padding: 0 1rem;
    box-shadow: 0 2px 2px #3a3a3a;
    display: none;
    top: 100%;
}

/*nav-toggle*/
#nav-toggle:checked~nav {
    display: block;
}

#nav-toggle {
    display: none;
}

.nav-toggle-label {
    font-size: 2rem;
}

/*Main Content*/
main {
    background-color: tomato;
    /*make main element take up any surplus space to push footer down*/
    flex: 1 0 auto;
    margin-top: 47px;
}

/*Footer*/
footer {
    background-color: blueviolet;
}

@media screen and (min-width: 768px) {
    
}